.container {
  margin: 1rem;
}

.addmovieform {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-bottom: 120px;
  color: black;
}

.addmovieform__left {
  margin-bottom: 1rem;
  padding-right: 12px;
  padding-left: 30px;
  padding-top: 25px;
  text-align: justify;
}

.addmovieform__right {
  margin-bottom: 20px;
  padding-top: 100px;
  padding-left: 100px;
}

.addmovieform__form {
  float: right;
}

.addmovieform__top {
  color: aqua;
  margin-bottom: 5px;
  margin-left: 10px;
  position: center;
  font-size: 300%;
  color: #06d6a0;
}

.addmovieform__image {
  max-width: 110%;
  height: auto;
  border-radius: 20px;
  float: left;
  padding-left: 60px;
}

.addmovieform__title {
  font-size: x-large;
}

.addmovieform__date {
  font-size: x-large;
}

.addmovieform__button {
  padding: 0.8rem 8rem;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  border: none;
  border-radius: 10px;
  background-color: #06d6a0;
  color: #fff;
}

.addmovieform__boxtitle {
  box-sizing: border-box;
  padding: 0.8rem 4rem;
  border: 2px solid #06d6a0;
  border-radius: 10px;
}

.addmovieform__boxdate {
  box-sizing: border-box;
  padding: 0.8rem 4rem;
  border: 1px solid #06d6a0;
  border-radius: 10px;
}

.link__gambar {
  font-size: x-large;
}

.form__gambar {
  box-sizing: border-box;
  padding: 0.8rem 4rem;
  border: 2px solid #06d6a0;
  border-radius: 10px;
}

.form__genre {
  font-size: x-large;
}

.form__select {
  margin-bottom: 1rem;
  padding: 8px 10px;
  border-radius: 5px;
  margin: 10px;
  padding-left: 30px;
  font-size: medium;
}
